@model PrefectVotingApplication.Areas.Identity.Data.PrefectVotingApplicationUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="details-container">
    <div class="details-box" align="center">

        <img src="@(string.IsNullOrEmpty(Model.ImagePath) ? Url.Content("~/images/user-default.png") : Url.Content(Model.ImagePath))"
             alt="Profile Image" class="details-img" />

        <dl class="row justify-content-center">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>

            @if (User.IsInRole("Teacher"))
            {
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>
            }

            @if (User.IsInRole("Staff"))
            {
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>
            }

            @if (User.IsInRole("Admin"))
            {
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ImagePath)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.ImagePath)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Role)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Role.RoleName)</dd>
            }
        </dl>

        <div class="text-center mt-3">
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
            }
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>


