@model IEnumerable<PrefectVotingApplication.Areas.Identity.Data.PrefectVotingApplicationUser>
@{
    ViewData["Title"] = "Index";
    var pageNumber = (int)ViewData["PageNumber"];
    var totalPages = (int)ViewData["TotalPages"];
    var viewMode = ViewData["ViewMode"]?.ToString() ?? "grid";

}
@if (TempData["Message"] != null)
{
    <div class="alert alert-info">@TempData["Message"]</div>
}
@if (TempData["Success"] != null)
{
    <div id="success-message" class="alert alert-success">
        @TempData["Success"]
    </div>
}
<style>
    .pagination-footer {
        margin-top: auto;
        padding: 20px 0;
        text-align: center;
    }

</style>
@* search *@
<form asp-action="Index" method="get" class="mb-3">
    <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Search..." class="form-control d-inline" style="width:250px;" />
    <button type="submit" class="btn btn-primary">Search</button>
    <a asp-action="Index" class="btn btn-secondary">Reset</a>
</form>

@* made a grid  view *@
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Select Your Prefects</h2>

    <div>
        <a asp-action="Index" asp-route-viewMode="grid" class="btn btn-outline-dark me-2 @(viewMode=="grid" ? "active" : "")">Grid View</a>
        <a asp-action="Index" asp-route-viewMode="list" class="btn btn-outline-dark @(viewMode=="list" ? "active" : "")">List View</a>
    </div>
</div>

<hr />

@* adds prodile if user doesn't have in grid view' *@
@if (viewMode == "grid")
{
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        @foreach (var PrefectVotingApplicationUser in Model)
        {
            <div class="col">
                <div class="card h-100 text-center shadow-sm">
                    <img src="@(string.IsNullOrEmpty(PrefectVotingApplicationUser.ImagePath) ? Url.Content("~/images/user-default.png") : Url.Content(PrefectVotingApplicationUser.ImagePath))"
                         class="card-img-top" style="height:200px; object-fit:cover;" />
                    <div class="card-body">
                        <h5 class="card-title">@PrefectVotingApplicationUser.FirstName @PrefectVotingApplicationUser.LastName</h5>
                        <form asp-controller="Votes" asp-action="Vote" method="post" class="d-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="receiverId" value="@PrefectVotingApplicationUser.Id" />
                            <button type="submit" class="btn btn-primary">Vote</button>
                        </form>
                        <a asp-action ="Details" asp-route-id="@PrefectVotingApplicationUser.Id" button class="btn btn-outline-secondary">...</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else if (viewMode == "list")
{
    <table class="table table-hover">
        <thead>
            <tr>
                @if (User.IsInRole("Student")) // student will only see first name, last, and description
                {
                    <th>
                        @* sorts teh first name alphabetical *@
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["NameSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-viewMode="@ViewData["ViewMode"]">
                            First Name
                            @{
                                var currentSort = (ViewData["NameSortParm"]);
                                if (currentSort == "name_desc") //adds (A-z) just so user can know if its ascending alphabetically or not
                                {
                                    <span> (A-Z) </span>
                                }
                                else
                                {
                                    <span> (Z-A)</span> @*same thing bu *@
                                }
                            }
                        </a>
                    </th>
                    <th>
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["LastNameSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-viewMode="@ViewData["ViewMode"]">
                            Last Name
                            @{
                                var sortOrder = (ViewData["LastNameSortParm"]);
                                if (sortOrder == "LastName")
                                {
                                    <span> (Z-A)</span>
                                }
                                if (sortOrder == "lastname_desc")
                                {
                                    <span> (A-Z)</span>
                                }
                                else
                                {
                                    <span> </span>
                                }

                            }
                        </a>
                    </th>

                    <th>Description</th>
                }
                else
                {
                    if (User.IsInRole("Admin"))
                    {
                        <th>Student ID</th>
                    }
                    <th>
                        @* sorts teh first name alphabetical *@
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["NameSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-viewMode="@ViewData["ViewMode"]">
                            First Name
                            @{
                                var currentSort = (ViewData["NameSortParm"]);
                                if (currentSort == "name_desc") //adds (A-z) just so user can know if its ascending alphabetically or not
                                {
                                    <span> (A-Z) </span>
                                }
                                else
                                {
                                    <span> (Z-A)</span> @*same thing bu *@
                                }
                            }
                        </a>
                    </th>
                    <th>
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["LastNameSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-viewMode="@ViewData["ViewMode"]">
                            Last Name
                            @{
                                var sortOrder = (ViewData["LastNameSortParm"]);
                                if (sortOrder == "LastName")
                                {
                                    <span> (Z-A)</span>
                                }
                                if (sortOrder == "lastname_desc")
                                {
                                    <span> (A-Z)</span>
                                }
                                else
                                {
                                    <span> </span>
                                }

                            }
                        </a>
                    </th>

                    <th>Email</th>
                    <th>Description</th>
                }
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var PrefectVotingApplicationUser in Model)
            {
                <tr>
                    @if (User.IsInRole("Student"))
                    {
                        <td>@PrefectVotingApplicationUser.FirstName</td>
                        <td>@PrefectVotingApplicationUser.LastName</td>
                        <td>@PrefectVotingApplicationUser.Description</td>
                        <td class="text-end" style="padding-right: 30px;"> @* moves buttons to far right but with padding so its not too close *@
                            <form asp-controller="Votes" asp-action="Vote" asp-route-viewMode="list" method="post" class="d-inline" >
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="receiverId" value="@PrefectVotingApplicationUser.Id"/>
                                <input type="hidden" name="viewMode" value="@ViewData["ViewMode"]"/>
                                <button type="submit" class="btn btn-primary" style="width:150px; height:34px;line-height:15px;">Vote</button>

                            </form>
                            @* <a class="btn btn-sm btn-primary" asp-controller="Votes" asp-action="Vote" method="post" asp-route-id="@PrefectVotingApplicationUser.Id"> Vote </a> *@

                            @* <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@PrefectVotingApplicationUser.Id">✖</a> *@
                        </td>
                    }
                    else
                    {
                        if (User.IsInRole("Admin"))//only admin
                        {
                            <td>@PrefectVotingApplicationUser.Id</td>
                        }
                        <td>@PrefectVotingApplicationUser.FirstName</td>
                        <td>@PrefectVotingApplicationUser.LastName</td>
                        <td>@PrefectVotingApplicationUser.Email</td>
                        <td>@PrefectVotingApplicationUser.Description</td>
                        <td>
                            <form asp-controller="Votes" asp-action="Vote" asp-route-viewMode="list" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="receiverId" value="@PrefectVotingApplicationUser.Id" />
                                <input type="hidden" name="viewMode" value="@ViewData["ViewMode"]" />
                                <button type="submit" class="btn btn-primary" style="width:150px; height:34px;line-height:15px;">Vote</button>

                            </form>
                            @* <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@PrefectVotingApplicationUser.Id">Vote</a> *@
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@PrefectVotingApplicationUser.Id">x</a>
                        </td>
                    }
                    
                </tr>
            }
        </tbody>
    </table>
}

<div class=" pagination-footer" d-flex justify-content-center align-items-center">
    @if (pageNumber > 1)
    {
        <a asp-action="Index" asp-route-pageNumber="@(pageNumber - 1)" asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-viewMode="@ViewData["ViewMode"]" class="btn btn-outline-primary me-2">Previous</a>
    }
    <span>Page @pageNumber of @totalPages</span>
    @if (pageNumber < totalPages)
    {
        <a asp-action="Index" asp-route-pageNumber="@(pageNumber + 1)" asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-viewMode="@ViewData["ViewMode"]" class="btn btn-outline-primary ms-2">Next</a>
    }
</div>